<div class="container">
  <img [alt]="event?.name" [src]="event?.imageUrl" class="event-image">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name | uppercase}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date | date : 'longDate'}}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> {{event?.price | currency : 'BRL'}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br/>
        {{event?.location?.address}}<br/>
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <h3>Sessions</h3>
    </div>
    <div class="col-md-7">
      <button (click)="updateFilter('all') " [class.active]="filterBy==='all'" class="btn btn-default">All</button>
      <button (click)="updateFilter('beginner') " [class.active]="filterBy==='beginner'" class="btn btn-default">
        Beginner
      </button>
      <button (click)="updateFilter('intermediate') " [class.active]="filterBy==='intermediate'"
              class="btn btn-default">Intermediate
      </button>
      <button (click)="updateFilter('advanced') " [class.active]="filterBy==='advanced'" class="btn btn-default">
        Advanced
      </button>
    </div>
    <div class="col-md-2">
      <a (click)="addSession()">Add Session</a>
    </div>
  </div>
  <app-session-list *ngIf="!addMode" [filterBy]="filterBy" [sessions]="event?.sessions"></app-session-list>
  <app-create-session (cancelAddSession)="cancelAddSessionParent()" (saveNewSessionEvent)="saveNewSessionMethod($event)"
                      *ngIf="addMode"></app-create-session>
</div>
